body {
    font-family: Arial, sans-serif;
    background-color: #e3dfdf;
    margin: 0;
    padding: 0;
    
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    margin-top: 20px;
}

.divisions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: tomato;
    text-transform: uppercase;
    font-size: large;
}